@charset 'utf-8';
.navInfo{
	width: 17%;
	float: left;
	color: #444;
	font-size: 16px;
}

.navInfo p{
	padding: 10px 5px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-bottom: 1px solid #ececec;
	cursor: pointer;
}

.navInfo p:hover{
	color: #1ebbd4;
}

.navInfo .chooseNav:hover{
	color: #fff;
}

.navInfo .chooseNav{
	background-color: #1ebbd4;
	color: #fff;
}

.contentInfo{
	display: inline-block;
	padding-bottom: 30px;
	width: 82%;
	min-height: 400px;
	border-left: 1px solid #ececec;
}

/*新增订单*/
.orderForm{
	display: none;
	width: 50%;
	margin: 0 auto;
}

.addOrderTitle{
	margin-top: 10px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-size: 20px;
}

.orderForm label{
	display: inline-block;
	width: 27%;
	text-align: right;

}

.orderForm input{
	display: inline-block;
	width: 60%;
	height: 35px;
	line-height: 35px;
	margin: 5px auto;
	padding: 2px 20px;
	border: 1px solid #ececec;
	border-radius: 4px;
	font-size: 16px;
}

.orderForm input:focus{
	border: 1px solid #1ebbd4;
}

.orderForm .check{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	height: 35px;
	line-height: 35px;
}

.orderForm .check input{
	margin: 0 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.submitBg{
	padding-left: 27%;
	height: auto;
}

.orderForm #submit{
	height: 40px;
	color: #ff8b20;
	background-color: #fff;
	border: 1px solid #ff8b20;
	border-radius: 4px;
	cursor: pointer;
}

.orderForm #submit:hover{
	color: #fff;
	background-color:  #ff8b20;
	border: none;
}
/*新增订单*/

/*查询订单*/
.checkOrder{
	display: none;
}

.checkOrder .addOrderTitle{
	border-bottom: 1px solid #ececec;
	font-size: 20px;

}

.checkOrder p{
	/*height: 35px;
	line-height: 35px;*/
	padding: 5px 20px;
}

.checkOrder p span{
	display: inline-block;
	/*width: 10%;*/
	text-align: right;
	font-size: 16px;
	color: #444;
}

.checkOrder .filter input,#check{
	width: 40%;
	height: 35px;
	line-height: 35px;
	margin: 10px 0;
	padding: 3px 20px;
	border: 1px solid #ececec;
	border-radius: 4px;
	font-size: 16px;
}

#check{
	width: 5%;
	text-align: center;
	color: #ff8b20;
	border-color: #ff8b20;
	cursor: pointer;
}

#check:hover{
	color: #fff;
	background-color: #ff8b20;
}

.checkOrder .typeBg{
	padding-bottom: 20px;
	border-bottom: 1px solid #ececec;
}

.checkOrder .filter,.checkOrder .typeBg{
	padding-left: 15%;
}

.typeBg label{
	cursor: pointer;
}

.typeBg input{
	margin-left: 20px;
}
/*查询订单*/

/*li包含的订单的的样式*/
.order{
	list-style: none;
	padding: 10px 20px;
	border-bottom: 1px solid #ececec;
}

.order p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.order p span{
	width: auto;
}

.goodsInfo{
	width: 70%;
	float: left;
}

.goodsInfo .goodsInfoTitle{
	text-align: center;
}

.goodsInfo .otherInfo span{
	display: inline-block;
	padding: 5px 30px 5px 0;
	color: #666;
	font-size: 14px;
}

.customerInfo{
	display: inline-block;
	min-height: 213px;	
	border-left: 1px dashed #ececec;
}

.goodsInfo .goodsInfoTitle,.customerInfo .userInfoTitle{
	height: 35px;
	line-height: 35px;
}

.goodsInfo .goodsInfoTitle,.customerInfo .userInfoTitle,.customerInfo .editBg{
	text-align: center;
}

.checkOrder .editBg span{
	display: inline-block;
	margin-top: 15px;
	padding: 10px 20px;
	border: 1px solid #1ebbd4;
	border-radius: 4px;
	color: #1ebbd4;
	cursor: pointer;
}

.editBg span:hover{
	color: #fff;
	background-color: #1ebbd4;
}
/*li包含的订单的的样式*/

/*查看用户代理的商品情况*/
.myAgentBg p span,.myAgent li span{
	display: inline-block;
	width: 14%;
	padding: 10px;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.myAgentBg p{
	border-bottom: 1px solid #ececec;
}

.myAgentBg li{
	list-style: none;
	border-bottom: 1px solid #ececec;
	padding-top: 5px;
	padding-bottom: 5px;
}

.myAgent li span{
	border-left: 1px dashed #ececec;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*查看用户代理的商品情况*/

/*遮罩层*/
.main{
	position: relative;
}

.addBg{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.addTitle{
	font-size: 20px;
	color: #444;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ececec;
}

.addForm{
	width: 500px;
	margin: 150px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 4px;
}

.addForm p{
	text-align: center;
}

.addForm p input{
	width: 270px;
	height: 35px;
	line-height: 35px;
	margin: 5px auto;
	padding: 3px 20px;
	border: 1px solid #ececec;
	border-radius: 4px;

}

.checkBg{
	text-align: center;
}

.addForm .submitForm{
	width: 310px;
	height: 45px;
	background-color: #fff;
	border: 1px solid #ff8b20;
	color: #ff8b20;
	font-size: 16px;
}

.addForm .submitForm:hover{
	color: #fff;
	background-color: #ff8b20;
}
/*遮罩层*/

/*按钮部分样式*/
.myAgentBg .switchPage{
	border: none;
}

.myAgentBg .switchPage p span{
	width: auto;
}

.switchPage{
	text-align: center;
	font-weight: normal;
	border: none;
}

.switchPage span,.myAgentBg .switchPage span{
	display: inline-block;
	width: auto;
	line-height: 30px;
	margin: 15px 10px;
	padding: 5px 10px;
	border: 1px solid #ececec;
	border-radius: 4px;
	font-weight: normal;
	cursor: pointer;
}

.switchPage span:hover{
	color: #1ebbd4;
	border-color: #1ebbd4;
}
/*按钮部分样式*/